:host{
    margin-top: 50px;
    padding: 50px 0;
    background: var(--black-010);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2{
        text-align: center;
        margin: 0;
    }

    ul{
        margin-top: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    li{
        width: 100px;
        height: 100px;
        background: var(--black);

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 7px;

    }
}