<div class="container">
  <div class="row">
    <div class="col">
      <h2>Educação</h2>
      @for(item of educationExperiences(); track item;){
        <details>
          <summary>
            <p>
              <strong>{{ item.summary.strong }}</strong>
              {{ item.summary.p }}
            </p>
          </summary>
          <article [innerHTML]="item.text"></article>
        </details>
      }
    </div>
    <div class="col">
      <h2>Experiências Profissionais</h2>
      @for(item of arrayExperiences(); track item;){
        <details>
          <summary>
            <p>
              <strong>{{ item.summary.strong }}</strong>
              {{ item.summary.p }}
            </p>
          </summary>
          <article [innerHTML]="item.text"></article>
        </details>
      }
    </div>
  </div>
    
</div>
