<header>
    <a href="https://www.google.com/search?q=boston+celtics&rlz=1C1CHZN_pt-BRBR950BR950&oq=boston&gs_lcrp=EgZjaHJvbWUqDAgAECMYJxiABBiKBTIMCAAQIxgnGIAEGIoFMhIIARAuGEMYgwEYsQMYgAQYigUyDQgCEC4YgwEYsQMYgAQyDAgDECMYJxiABBiKBTIQCAQQABiDARixAxiABBiKBTIQCAUQABiDARixAxiABBiKBTIQCAYQABiDARixAxiABBiKBTIGCAcQRRg9qAIAsAIA&sourceid=chrome&ie=UTF-8#cobssid=s" target="_blank" class="corner-image">
        <img
          src="assets/img/simboloceltics.png"
          alt="Boston Celtics"
          width="100px"
          height="100px"
        />
      </a>
    
    <img
        src="assets/img/erik.png"
        alt="Erik Lopes - Foto de Perfil"
        width="150px"
        height="150px"
        loading="eager"
    />
    <h1>Erik Hideo Lopes</h1>
</header>

<aside>
    <div class="container">
        <p>Graduando em Engenharia de Computação | Técnico em Mecatrônica</p>
        <p>Trainee da Asimov Jr. em Desktop</p>
        <p>Mogi das Cruzes, São Paulo | Itajubá, Minas Gerais, Brasil</p>

        <nav>
            <ul>
                <li>
                    <a href="https://github.com/kire00" target="_blank" class="btn btn-primary">
                        GitHub
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/erik_lopes07" target="_blank" class="btn btn-secondary">
                        Twitter
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/eriklopes_/" target="_blank" class="btn btn-tertiary">
                        Instagram
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img
                    src="assets/icons/whatsapp.svg"
                    alt="Ícone para contato do WhatsApp"
                    width="22px"
                    height="24px"
                />
                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5511988915569&text=Ol%C3%A1%20Erik,%20preciso%20de%20um%20trabalho!" target="_blank">
                        <strong>Envie uma mensagem para:</strong>
                        <p>WhatsApp: (11) 9 8891-5569</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img
                    src="assets/icons/mail.svg"
                    alt="Ícone para contato do e-mail"
                    width="22px"
                    height="24px"
                />
                <figcaption>
                    <a href="mailto:erikhideolopes@gmail.com" target="_blank">
                        <strong>Envie um e-mail:</strong>
                        <p>erikhideolopes&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>
